* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;

}

header .top {
    background: #060;
    height: 48px;
    color: white;
    display: flex;
    align-items: center;

}

.social a {
    text-decoration: none;
}

.top .container {
    display: flex;
    justify-content: space-between;

}

.top .left {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: green;
    text-decoration: underline;
}

.top .right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search-box {
    background: white;
    padding: 0 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.search-box input {
    height: 34px;
    border: none;
}

.wrap-main {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    height: 110px;
    line-height: 110px;
    position: relative;
    text-decoration: none;
    color: aliceblue;
    padding: 0 20px;
    padding: 10px 20px;
}

/* 
.wrap-main, li {
    height: 100vh;
    display: grid;
    place-items: center;
} */
 .section {
     display: inline;
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
 }
 .section .banner_about a img{
        box-shadow: 4px 0 25px 0 rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        padding: 3px;
 }
.lazyload {
    display: inline;
    width: 452px;
        height: 522px;
        border-radius: 50%;
        object-fit: cover;
}
.lazyload:hover {
    transform: scale(1.1);
    /* Tăng kích thước khi hover */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Thêm bóng đổ */
}

.contentpage{
    display: inline;
        font-family: "Avo", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #5d6567;
        box-sizing: border-box;
        display: block;
        unicode-bidi: isolate;
}
.contentpage a:hover {
    color: #060;
    cursor: pointer;
    text-decoration: underline;

}

.contentpage a {
    text-decoration: none;
}
.des_title{
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
}
.des_title{
    text-decoration: underline;
}